.root{
	-fx-background-image: url("bckgrnd.png");
	-fx-background-size: cover;
}

.text-field{
	-fx-text-box-border: transparent;
}

.button{
	-fx-background-color: #bfbfbf;
}

.logo{
	-fx-opacity: 90%;
}

.ExitButton{
	-fx-background-color: transparent;
	-fx-background-image: url("exit.png");
}


