.root{
	-fx-background-image: url("bckgrnd.png");
	-fx-background-size: cover;
}

.text-field{
	-fx-text-box-border: transparent;
}

.button{
	-fx-background-color: #bfbfbf;
}

.logo{
	-fx-opacity: 90%;
}

.ExitButton{
	-fx-background-color: transparent;
	-fx-background-image: url("exit.png");
}


/****************************text field style*************************************************/
.text-field{
	-fx-text-box-border: transparent;
	-fx-background-color: #ffffff;
	-fx-text-fill: black;
	-fx-prompt-text-fill: #707070;
}
/*.text-field: disabled{*/
/*	-fx-opacity: 60%;*/
/*}*/
/********************************************************************************************/


/****************************combo box style*************************************************/
.combo-box{
	-fx-text-box-border: transparent;
	-fx-background-color: #ffffff;
	-fx-text-fill: black;
	-fx-prompt-text-fill: #707070;
}
/********************************************************************************************/