.root{
	-fx-background-image: url("bckgrnd.png");
	-fx-background-size: cover;
}

.text-field{
	-fx-text-box-border: transparent;
}

.logo{
	-fx-opacity: 90%;
}

.hbox{
	-fx-background-color: green;
}

.ExitButton{
	-fx-background-color: transparent;
	-fx-background-image: url("exit.png");
}

.tab-pane .tab-header-area .tab-header-background{
	-fx-background-color: transparent;
}

.label{
	-fx-background-color: transparent;
}


/* will be used later */
/****************************tab pane style***************************************************/
/*.tab{*/
/*	-fx-pref-width: 50;*/
/*	-fx-pref-height: 30;*/
/*}*/
/********************************************************************************************/





/****************************scroll pane style************************************************/
.scroll-pane > .viewport {
	-fx-background-color: rgba(255, 255, 255, 0.33);
}

.scroll-pane {
	-fx-background-color: rgba(241, 241, 241, 0.45);
}
/********************************************************************************************/

/****************************button style****************************************************/
.button{
	-fx-background-color: #bfbfbf;
}

.ExitButton{
	-fx-background-color: transparent;
}

.button:hover{
	-fx-cursor: hand;
	-fx-scale-x: 0.95;
	-fx-scale-y: 0.95;
	-fx-scale-z: 0.95;
	/*-fx-font-size: 13px;*/
}
/********************************************************************************************/

/****************************text field style*************************************************/
.text-field{
	-fx-text-box-border: transparent;
	-fx-background-color: #ffffff;
	-fx-text-fill: black;
	-fx-prompt-text-fill: #707070;
}
/*.text-field: disabled{*/
/*	-fx-opacity: 60%;*/
/*}*/
/********************************************************************************************/


/****************************combo box style*************************************************/
.choice-box{
	-fx-text-box-border: transparent;
	-fx-background-color: #ffffff;
	-fx-text-fill: black;
	-fx-prompt-text-fill: #707070;
}
/********************************************************************************************/